{% extends 'libros_app/base.html' %}

{% load static %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}
  <div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
      <div class="col-md-6 p-5 mt-lg-5">
        <h1 class="display-5 animated fadeIn mb-4">Encuentre <span class="text-primary">un libro ideal</span> para usted.</h1>
        <p class="animated fadeIn mb-4 pb-2">BookParadise es una página donde usted podrá encontrar información sobre libros, sus autores, editoriales y géneros.</p>
        <a href="{% url 'libros_app:libros' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Empiece su búsqueda.</a>
      </div>
      <div class="col-md-6 animated fadeIn">
        <div class="owl-carousel header-carousel">
          <div class="owl-carousel-item">
            <img class="img-fluid" src="{% static 'libros_app/images/slider-img-1.jpg' %}" alt="" />
          </div>
          <div class="owl-carousel-item">
            <img class="img-fluid" src="{% static 'libros_app/images/slider-img-2.jpg' %}" alt="" />
          </div>
          <div class="owl-carousel-item">
            <img class="img-fluid" src="{% static 'libros_app/images/slider-img-3.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
