{% extends 'libros_app/base.html' %}

{% load static %}

{% block title %}
  Modificar Genero
{% endblock %}

{% block content %}
  {% include 'libros_app/genero/includes/admin_menu_generos.html' %}
  <div class="container-xxl py-3">
    <div class="container">
      <h1>Editar generos</h1>
      {% if 'ok' in request.GET %}
        <p class="alert alert-info">Genero modificado correctamente</p>
      {% endif %}

      <form action="" method="post" class="formulario" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if genero.foto %}
          <img class="img-fluid imagen" src="{{ genero.foto.url }}" />
        {% else %}
          <img class="img-fluid imagen" src="{% static 'libros_app/images/noimagendisponible.png' %}" alt="" />
        {% endif %}

        <input type="submit" class="btn btn-primary py-2 px-5 me-3" style="width: 100%; margin-top:10px;" value="Modificar genero" />
      </form>
    </div>
  </div>
{% endblock %}
