{% extends 'libros_app/base.html' %}

{% load static %}

{% block title %}
  Generos
{% endblock %}

{% block subMenu %}
  <div class="row g-0 gx-5">
    <div class="col text-start text-lg-end animated slideInRight" data-wow-delay="0.1s">
      <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
        {% if request.user.is_staff %}
          <li class="nav-item me-2">
            <a class="btn btn-outline-primary active" href="{% url 'libros_app:generos' %}">Listar</a>
          </li>
          <li class="nav-item me-2">
            <a class="btn btn-outline-primary" href="{% url 'libros_app:genero_agregar' %}">Agregar</a>
          </li>
        {% endif %}
        <li class="nav-item me-0">
          <a class="btn btn-outline-primary" href="{% url 'libros_app:generos_filtrar' %}">Filtrar</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-xxl py-3">
    <div class="container">
      <div class="row g-0 gx-5 align-items-end">
        <h1>Generos</h1>
        {% if genero_list %}
          <div class="row">
            {% for genero in genero_list %}
              <div class="col-lg-4 col-md-6 animated fadeInUp" data-wow-delay="0.1s">
                <div class="property-item rounded overflow-hidden">
                  <div class="position-relative overflow-hidden centrar-items">
                    {% if genero.foto %}
                      <a href="{% url 'libros_app:genero_ver_detalles' genero.id %}"><img class="img-fluid imagen" src="{{ genero.foto.url }}" alt="{{ genero.foto.url }}" alt="" /></a>
                    {% else %}
                      <a href="{% url 'libros_app:genero_ver_detalles' genero.id %}"><img class="img-fluid imagen" src="{% static 'libros_app/images/noimagendisponible.png' %}" alt="" /></a>
                    {% endif %}
                  </div>
                  <div class="p-5 pb-5">
                    {% if request.user.is_staff %}
                      <div class="" style="float :right ">
                        <a class="btn btn-outline-primary" href="{% url 'libros_app:genero_actualizar' genero.id %}">Editar</a>
                        <a class="btn btn-outline-primary" href="{% url 'libros_app:genero_eliminar' genero.id %}">Eliminar</a>
                      </div>
                    {% endif %}
                    <a class="d-block h5 mb-2" href="">{{ genero.nombre }}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="card-text">No hay ningun genero por el momento, vuelva pronto, lo estamos esperando!</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
