{% extends 'libros_app/base.html' %}

{% load static %}

{% block title %}
  Eliminar editorial
{% endblock %}

{% block content %}
  {% include 'libros_app/editorial/includes/admin_menu_editoriales.html' %}
  <div class="container-xxl py-3">
    <div class="container">
      <h1>Eliminar editorial</h1>
      <form method="post">
        {% csrf_token %}
        <p>¿Esta seguro que quiere eliminar a la editorial "{{ object }}"?</p>
        {% comment %} {{ form }} {% endcomment %}
        <input type="submit" value="Confirmar" />
      </form>
    </div>
  </div>
{% endblock %}
